header {
    // @extend .row;
    // width: 50%;
    @extend .col-lg-10;
    @extend .offset-lg-1;
    z-index: 10 !important;
    
    .float-child{
        width: 50%;
        float: left;
        padding: 20px;
    }

    .logo {
        color: #fff;
        width: 50%;
        font-size: 28px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 0px;
        @extend .col-md-4;
        @extend .col-md-12;

        span {
            color: $primary-color;
            font-weight: 900;
        }
    }

    .navigation {
        padding-right: 0px;
        padding-left: 0px;

        ul {
            padding-left: 0;
            float: right;
            margin-bottom: 0;

            li {
                list-style-type: none;
                display: inline-block;
                padding: 8px 12px;

                a {
                    color: $nav-color;
                    font-size: $nav-size;
                    @extend .ease-in-transition;

                    &:hover {
                        color: $nav-hover-color;
                    }
                }

                &:last-of-type {
                    padding-right: 0;
                }

                &.active-nav {
                    a {
                        color: $nav-hover-color;
                    }
                }
            }
        }
    }

    .search {
        margin-top: 80px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        @extend .col-sm-12;

        .dropdown {
            position: absolute;
            width: 100%;
            height: auto;
            top: 40px;
            left: 0;
            background: rgba(17, 17, 17, 0.9);
            height: 225px;
            overflow-y: auto;
            @include prefix("box-shadow", 0 4px 8px rgba(0, 0, 0, 0.8));
            @extend .ease-in-transition;

            .dropdown-item {
                cursor: pointer;
                padding: 10px 0;
                color: $primary-text;
                @extend .ease-in-transition;

                span {
                    padding-left: 5px;
                }

                &:hover {
                    background: $primary-color;
                }
            }
        }
    }
}

.input-container {
    width: 100%;
    position: relative;

    .input-field {
        width: 100%;
        padding: 10px 35px 10px 5px;

        &.input-search {
            background: transparent;
            border: none;
            padding-left: 0;
            border-bottom: 1px solid $search-field-border;
            color: $search-field-color;

            @extend .ease-in-transition;
        }

        &:focus {
            border-bottom-color: $primary-color;
            outline: none;
        }
    }

    .input-icon {
        position: absolute;
        @extend .ease-in-transition;

        &.input-search-icon {
            color: $primary-text;
            top: 5px;
            right: 10px;
            font-size: 25px;
        }
    }

    &.input-active {
        .input-icon {
            &.input-search-icon {
                color: $primary-color;
            }
        }
    }
}
